body {
    background-color: #f3fcfb
  }
  
  /* .link{
      margin:0 2rem;
      font-size:2rem;
      color:#e95a2e;
      text-decoration: none;
  } */
  .nav {
    background-color: black;
    width: 100%;
    height: 2rem;
    padding-top: 2rem;
    /* padding: 2rem; */
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .userimg{
    color: #e0e0e0;
    size: 100rem;
    margin-bottom: 1rem;
    height: 30px;
    width: auto;
    
    }
  .mnav {
    background-color: #077c74;
    width: 100%;
    height: 3rem;
   
  }
  .mnav1 {
    background-color: #077c74;
    width: 100%;
    height: 3rem;
    padding: 2px;
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #e0e0e0;
    font-weight: bolder;
   float: right;
   
  }
  .username{
    color: white;
  }
  .link {
    margin: 2rem;
    font-size: 1.4rem;
    text-decoration: none;
    color: white;
  }
  
  .mlink {
    margin: 3rem;
    margin-top: 2rem;
    font-size: 1rem;
    text-decoration: none;
    color: white;
  }
  
  .link.active {
    color:#077c74;
    margin-bottom: 3rem;
  }
  
  .mlink.active,.mlink:hover{
    color: black;
  }
  .home1 {
    width: 49%;
    direction: ltr;
    padding: 5px;
  
  }
  .home11 {
    width: 49%;
    direction: rtl;
    padding: 5px;
  }
  
  #home {
    background-color: white;
    margin-bottom: 5rem;
  }
  .loginform {
    background: #ffffff;
    width: 450px;
    color: black;
    left: 50%;
    margin-top: 23%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 10px 29px 0px #e0e0e0;
    margin-bottom: 3rem;
    padding-bottom: 5rem;
  }
  
  .add {
    background: #ffffff;
    width: 450px;
    color: black;
    left: 50%;
    margin-top: 40%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 10px 29px 0px #e0e0e0;
    margin-bottom: 3rem;
    padding-bottom: 5rem;
  }
  .registerform,.faddcar {
    background: #ffffff;
    width: 600px;
    color: black;
    left: 50%;
    margin-top: 33%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 20px;
    padding-bottom: 5rem;
    margin-bottom: 5rem;
    border-radius: 5px;
    box-shadow: 0px 10px 29px 0px #e0e0e0;
  
    /* 专  住祝 祝 驻住  注  爪专  */
  }
  .faddcar{
    margin-top: 42%;
  }
  
  h1 {
    font-size: 30px;
    margin: 30px 0px;
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
    color:#077c74;
  }
  
  .input,
  .ok {
    width: 100%;
  
  }
  
  .d1 {
    margin-bottom: 30px
  }
  
  .input[type="text"],
  input[type="password"] {
    border: none;
    border-bottom: 1px solid #1e5220;
    background: transparent;
    outline: none;
    height: 40px;
    color: #333;
    font-size: 16px;
  }
  
  .input[type="submit"],
  #button,
  .ok {
    background:#077c74;
    color: #fffffe;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    transition: 0.4s;
    border: none;
    margin-bottom: 5px;
  }
  
  .input[type="submit"]:hover,
  #button:hover,
  .ok:hover {
    cursor: pointer;
    background: #0d678e;
  }
  
  a {
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    color: #1e5220;
  }
  
  a:hover {
    color: #077c74;
  }
  
  .error {
    color: #077c74;
    font-size: x-small;
    margin-top: 0px;
    float: right;
  
  }
  .link{
    margin-top: 40px;
  }
  /*-- Responsive CSS --*/
  @media(max-width: 576px) {
    .loginform {
      width: 90%;
    }
  
    a {
      display: block;
      text-align: center;
      float: inherit !important;
      margin: 10px 0px;
    }
  }
  
  /* car:~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  .empty {
    font-size: large;
    background-color: rgb(191, 246, 191);
    color: rgb(15, 142, 15);
    border-radius: 5px;
    margin-left: 5rem;
    margin-right: 5rem;
  
  }
  
  .notEmpty {
    font-size: large;
    background-color: rgb(251, 202, 202);
    color: rgb(210, 48, 48);
    border-radius: 5px;
    padding: 2px;
    margin-left: 5rem;
    margin-right: 5rem;
  }
  
  #button {
    background-color: #077c74;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 6px;
    color: white;
   float: right;
   margin-right: 25px;
  }
  
  .img {
    width: 22rem;
    padding-top: 20px;
  }
  
  .card {
    width: 22rem;
    height:36rem;
    margin: 40px;
    background: white;
    color: black;
  /* border-style: ridge; */
    /* border-color:#077c74; */
    border-radius:  9px ;
   
    box-shadow: 0px 10px 15px 0px #e0e0e0;
    padding-top: 1rem;
  
  }
  
  .info {
    margin-top: 5rem;
    margin-left: 28em;
    width: 40rem;
    height: 30rem;
    border-radius: 5px;
    box-shadow: 0px 10px 29px 0px #e0e0e0;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  
  .lendform {
    background: black;
    width: 250px;
    height: 467px;
    color:white ;
    left: 20%;
    margin-top: 21%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 10px 29px 0px #e0e0e0;
  }
  
  
  .info img {
    width: 30rem;
    margin-top: 2rem;
  }
  
  .info .details,
  .style {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5rem;
    /* justify-content: center; */
    float: inline-start;
  }
  .carname{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: larger;
  }
  #carname {
  
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: larger;
    display: flex;
    justify-content: center;
  
  
  }
  
  #d1 {
    display: flex;
    justify-content: right;
    margin-right: 5rem;
  }
  
  #d2 {
    display: flex;
    justify-content: center;
    flex: initial;
    margin-right: 5rem;
  }
  .button{
    background-color: #077c74;
    border-radius: 5px;
    color: white;
  }
  /*  拽专!!!! */
  .retrunform {
    background: #ffffff;
    width: 400px;
    color: black;
    left: 50%;
    margin-top: 23%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 10px 29px 0px #e0e0e0;
  }
  
  body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  /* 专 */
  .p1{
    margin-top: 2rem;
  }
  .drivet {
    background: #ffffff;
  
    width: 450px;
    height: 100px;
    border-radius: 5px;
    box-shadow: 0px 10px 29px 0px #e0e0e0;
    /* left:50%; */
    margin-left: 35%;
    margin-bottom: 2rem;
  
  }
  
  .dtname {
    font-size: larger;
    margin-top: 1rem;
    color: #077c74;
  }
  
  .but1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #4a4d4d;
    color: #fffffe;
    font-size: 15px;
    padding: 4px;
    border-radius: 5px;
    transition: 0.4s;
    border: none;
    margin-bottom: 5px;
    margin-top: 0.5rem;
    margin-right: 3rem;
    float: right;
  
  }
  
  .input1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f1f3f5;
    float: right;
    color: #077c74;
    margin-top: 0.5rem;
    margin-right: 3rem;
    border-radius: 5px;
    border: #e0e0e0;
    height: 23px;
  
  
  
  
  }
  
  .label {
    display: flex;
    /* align-items: center; */
    float: right;
    padding-top: 3rem;
    padding: 2rem;
  
    font-size: larger;
    color: #077c74;
  
  }
  
  .select,.selectC,.selectC1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    margin-bottom: 3rem;
    width: 15rem;
    height: 3rem;
    border-radius: 5px;
    /* background-color: #ffccbc; */
    border-color: #077c74 4px;
    margin-top: 3rem;
    border: 2px #077c74 solid;
  
  
  }
  
  .option,.optionC {
  
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 15rem;
    height: 3rem;
    direction: rtl;
  
  }
  .selectC{
    width: 30rem;
  
  
  }
  .selectC1{
    width: 10rem;
    height: 2.5rem;
    direction: ltr;
    margin-right: 20px;
  
  
  }
  
  .lend{
    width: 18rem;
    height: 19rem;
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: row; */
    background: #ffffff;
    margin: 3rem;
    /* background: #ffe1ce; */
    border:#077c74 solid 4px;
    color: black;
  
    border-radius: 5px;
    box-shadow: 0px 10px 29px 0px #e0e0e0;
    /* padding-top: 1rem; */
  }
  .AllL{
    display:  flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .AllC{
   
    display:  flex;
  flex-wrap: wrap;
    width: 90%;
    height: 100rem;
    margin-left: 8rem;
  
    
  }
  .l1{
  
    font-weight:bold ;
    
   
  }
  .l2{
    margin-top: 0.5rem;
    float: right;
   margin-right: 0.5rem;
   margin-top: 0.5rem;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 15px;
   padding: 4px;
   border-radius: 5px;
   transition: 0.4s;
   border: none;
   margin-bottom:1rem;
   margin-top: 0.5rem;
   margin-right: 2rem;
   float: right;
  }
  .Rbutton{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #077c74;
    color: #fffffe;
    font-size: 15px;
    padding: 4px;
    border-radius: 5px;
    transition: 0.4s;
    border: none;
    margin-bottom:1rem;
    margin-top: 1rem;
    margin-right: 2rem;
    float: right;
  }
  .ll{
    margin-top:3.2rem;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: small;
  }
  .t{
    margin-top: 3rem;
  }
  .image {
    background-color: black;
    width: auto;
    height: 2vw;
    padding-top: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: right;
  }
  
  .details {
  
    margin-bottom: 10px;
  }
  
  #del {
    /* background-color:black; */
    border: #077c74 solid 3px;
    font-size: medium;
    float: calc();
/*    
    margin-top: 5px; */
    margin-left: 25px;
    background-color: #077c74;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 5px;
    /* border-style: ridge; */
    padding: 6px;
  }
  .imgdc{
    width: 4rem;
    height: auto;
  }
  .name{
    font-size: larger;
    font-weight: bold;
    color: black;
  }
  .card-text{
    color: #044540;
    display: flex;
    /* flex-flow: column; */
    /* justify-content: right; */
    /* align-content: center; */
    flex-direction: column;
   /* flex-wrap: wrap; */
  }